    .page_content
    {
        height: 100%;
    }

    .toolbar
    {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        height: fit-content;

        &_left
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }
    }