$NFT_width: 280px;
$NFT_height: $NFT_width+50px;

.MyNFTInfo
{
    max-width: $NFT_width;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: -1px 1px 7px 3px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -1px 1px 7px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -1px 1px 7px 3px rgba(0, 0, 0, 0.12);

    &__container
    {
        display: flex;
        flex-direction: column;

    }

    &__headerImg
    {

        width: $NFT_width;
        height: $NFT_height;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 !important;

            &:hover
            {
                // zoom in
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }
        }

    }
}