.WidgetItem
{
    width: 100%;
    border-radius: 16px !important;

    .Item_container
    {
        display: flex;
        justify-content: space-between;
        padding: 20px;


        .Item_leftSide
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 5px;

            .widget_icon
            {
                width: 40px;
            }

            .item_title
            {
                display: flex;
                gap: 3px;

                .title_unit
                {
                    font-weight: 700;
                }
            }

            .widget_icon
            {
                width: 40px;

            }


        }

        .Item_rightSide
        {
            display: flex;
            justify-content: center;
            align-items: center;

            .img_chart
            {}


        }
    }
}