$assetPath : "../assets";

.container
{
    display: flex;
    justify-content: center;
    background-color: #EFF3FD;
    background-image: url("../../../assets/back.svg");
    background-size: cover;

}