.homepages
{
    .homepages__container
    {
        display: flex;
        justify-content: space-between;

        .container_left
        {
            display: flex;
            align-items: center;
        }
    }

    .campaign_data
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}