.nft_list
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.homepages
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pages
{
    &_title
    {
        font-weight: 700 !important;
        ;
        text-transform: uppercase;
    }
}



.listNFT_container
{
    display: flex;
    gap: 15px;

    .container_left
    {}
}

.nft
{
    &_list
    {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}