.box
{
  display: flex;
  wid
  .header
  {
    display: flex;
    height: 100px;
    margin: 0 auto;

    .logoTitle
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .footer
  {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;

    .bottomSideBar
    {
      width: 80%;
    }
  }

}